In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline

In [6]:
df = pd.read_csv(r'C:\Users\GudWin\Desktop\wifi_localization.txt', sep="\t", header=None, names=["s1", "s2", "s3", "s4", "s5", "s6", "s7", "room"])

In [7]:
df.head()

   s1  s2  s3  s4  s5  s6  s7  room
0 -64 -56 -61 -66 -71 -82 -81     1
1 -68 -57 -61 -65 -71 -85 -85     1
2 -63 -60 -60 -67 -76 -85 -84     1
3 -61 -60 -68 -62 -77 -90 -80     1
4 -63 -65 -60 -63 -77 -81 -87     1

In [12]:
X = df.iloc[:, :7]
y = df.iloc[:, 7]

In [13]:
X.head()

   s1  s2  s3  s4  s5  s6  s7
0 -64 -56 -61 -66 -71 -82 -81
1 -68 -57 -61 -65 -71 -85 -85
2 -63 -60 -60 -67 -76 -85 -84
3 -61 -60 -68 -62 -77 -90 -80
4 -63 -65 -60 -63 -77 -81 -87

In [14]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: room, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X,y, shuffle=True, stratify=y, test_size=0.2)

In [19]:
from sklearn import linear_model

In [20]:
log_full = linear_model.LogisticRegression()
log_full.fit(X_train, y_train)

c:\users\gudwin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\gudwin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [21]:
from sklearn import metrics

In [22]:
full_predict = log_full.predict(X_test)
print(y_test)
print(full_predict)
print("Accuracy", metrics.accuracy_score(y_test, full_predict))

1063    3
942     2
376     1
1477    3
1761    4
579     2
143     1
1092    3
393     1
1530    4
1436    3
585     2
1291    3
1724    4
797     2
720     2
244     1
1443    3
884     2
1529    4
105     1
1910    4
355     1
1171    3
1485    3
875     2
1922    4
326     1
566     2
669     2
       ..
144     1
1572    4
61      1
249     1
1161    3
353     1
671     2
1431    3
695     2
1778    4
1534    4
424     1
1195    3
1767    4
1588    4
1196    3
1516    4
805     2
411     1
1583    4
1834    4
916     2
976     2
14      1
1058    3
1469    3
1980    4
1458    3
280     1
1509    4
Name: room, Length: 400, dtype: int64
[3 2 1 3 4 2 1 3 1 4 3 2 3 4 2 2 1 3 2 4 1 4 1 3 3 2 4 1 3 2 2 2 3 3 4 4 2
 2 1 1 3 2 4 3 4 4 3 1 2 4 2 1 2 2 3 4 1 4 2 4 2 1 1 1 2 4 2 4 1 1 4 2 2 1
 4 2 1 1 1 2 4 1 2 3 2 3 2 2 3 2 1 2 1 2 3 4 1 2 4 2 1 3 3 3 1 2 3 3 4 2 1
 2 4 1 4 2 1 4 1 1 1 4 2 1 4 4 1 1 3 2 2 3 1 3 4 4 1 4 4 4 4 3 2 2 3 4 2 4
 3 1 1 3 4 2 4 1 4 3 4 4 1 4 3 2 2 3 2 4 3 4 4 4 1 3 4 2 3 3 2 3 1 3 1 1 1
 2 3 2 3 2 4 1 3 1 3 2 3 1 3 4 2 3 3 1 3 4 3 3 1 2 1 1 3 3 2 4 4 4 2 3 3 3
 1 2 2 2 4 4 1 2 3 2 3 3 2 3 2 2 3 3 2 2 4 2 1 2 1 1 1 4 4 1 1 4 3 1 2 4 3
 3 1 1 3 3 1 3 2 3 2 2 1 1 3 4 4 2 3 2 4 2 4 3 1 3 3 2 2 1 1 1 4 1 2 1 4 3
 4 3 4 2 3 1 4 2 4 1 2 4 3 4 1 3 1 4 1 2 4 3 1 3 1 2 3 3 4 4 3 2 3 4 4 1 2
 2 1 3 1 4 1 2 3 1 4 3 2 3 1 4 3 4 2 1 3 2 4 4 3 1 1 1 4 4 2 4 2 1 4 3 3 4
 1 4 1 1 3 1 2 3 2 4 4 1 3 4 4 3 4 2 1 4 4 2 2 1 3 3 4 3 1 4]
Accuracy 0.9775